<form name="qa_form" autocomplete="off"  novalidate>
    <div class="container">
      <h4>Call information</h4>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="date">Call date</label>
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
              name="dp" [(ngModel)]="qa.date" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-secondary" (click)="d.toggle()" type="button"><i class="fas fa-calendar"></i></button>
              </div>
            </div>
        </div>
        <div class="form-group col-md-2">
          <label for="prid">PRID</label>
          <input type="text" class="form-control" [(ngModel)]="qa.prid" name="qaPrid" id="prid" placeholder="PRID" data-validation="length" data-validation-length="8" data-validation-error-msg="PRID must be exactly 8 numbers long.">
        </div>
        <div class="form-group col-md-4">
          <label for="presenting_problem">Presenting problem</label>
          <input type="text" name="presenting_problem" [(ngModel)]="qa.problem" name="qaProblem" class="form-control" id="presenting_problem" placeholder="Presenting problem" data-validation="required">
        </div>
        <div class="form-group col-md-3 text-center">
          <label>&nbsp;</label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="determinant" [(ngModel)]="qa.determinant">
            <label ngbButtonLabel class="btn-secondary" *ngFor="let det of determinants">
              <input ngbButton type="radio" [value]="det.determinant_id"> {{det.abbreviation}}
            </label>
          </div>
        </div>
      </div>
      <hr>
      <h4>Personnel</h4>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="typeahead-focus">Tech in charge:</label>
            <ng-select
              name="qa_tic"
              [items]="ccs"
              bindLabel="first_last"
              bindValue="user_id"
              [(ngModel)]="qa.tic">
            </ng-select>
        </div>
        <!-- <div class="form-group col-md-2">
          <label for="900number">900 number</label>
          <ng-select
            name="qa_tic"
            [items]="ccs"
            bindLabel="ninehundred"
            [(ngModel)]="qa.tic">
          </ng-select>
        </div> -->
        <div class="form-group col-md-3">
          <label for="typeahead-focus">Preceptor:</label>
          <ng-select
            name="qa_prec"
            [items]="preceptors"
            bindLabel="first_last"
            [(ngModel)]="qa.preceptor"
            [disabled]="prec_disable"
            >
          </ng-select>
        </div>
        <!-- <div class="form-group col-md-2">
          <label for="preceptor900number">900 number</label>
          <ng-select
            name="qa_prec_nine"
            [items]="preceptors"
            bindLabel="ninehundred"
            [(ngModel)]="qa.preceptor"
            [disabled]="prec_disable"
            >
          </ng-select>
        </div> -->
        <div class="col-md-2 no-preceptor text-center">
          <label for="preceptor900number">&nbsp;</label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup >
            <label ngbButtonLabel class="btn-secondary">
              <input (click)="togglePrec()" name="noPrec" [(ngModel)]="qa.noPrec" ngbButton type="checkbox" [value]="1"> No Preceptor
            </label>
          </div>
        </div>
      </div>
      <hr>
      <div *ngIf="!formReady" class="cssload-preloader cssload-loading">
	       <span class="cssload-slice"></span>
	       <span class="cssload-slice"></span>
	       <span class="cssload-slice"></span>
	       <span class="cssload-slice"></span>
         <span class="cssload-slice"></span>
         <span class="cssload-slice"></span>
       </div>
       <div *ngIf="formReady">
         <div *ngFor="let counter of [qs | counterPipe]">
           {{ counter.reset() }}
           <div *ngFor="let cat of qs; index as c">
             <h4>{{cat.name}}</h4>
             <div class="row affirmative">
               <div class="col-md-12">
                 <div class="row question" *ngFor="let q of cat.questions; index as i">
                   <div class="question-number offset-sm-1 col-sm-1 col-1">
                     {{i+1}}.
                   </div>
                   <div class="col-sm-6 col-7 question-text">
                     <div class="form-check form-check-inline">
                       <label class="form-check-label">{{q.text}}</label>
                     </div>
                   </div>
                   <div class="col-sm-2 col-4 question-answer">
                     <!-- {{qa.questions[counter.inc()].question_id}} -->
                     <!-- qs_uncat[index] -->
                     <!-- {{uncat_qs[0].question_id}} -->
                     <div [ngSwitch]="q.displayNA" class="btn-group btn-group-toggle" ngbRadioGroup name="qa.questions_{{cat}}_{{i}}" [(ngModel)]="uncat_qs[q.number]">
                       <label ngbButtonLabel class="btn-secondary">
                         <input ngbButton type="radio" [value]="1"> Yes
                       </label>
                       <label ngbButtonLabel class="btn-secondary">
                         <input ngbButton type="radio" [value]="0"> No
                       </label>
                       <label *ngSwitchCase="1" ngbButtonLabel class="btn-secondary">
                         <input ngbButton type="radio" [value]="2"> N/A
                       </label>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>


      <hr>
      <h4>Review</h4>
      <div class="row review">
        <div class="col-md-7 form-group">
          <label for="comments">Comments</label>
          <textarea class="form-control" id="comments" name="qa_comments" [(ngModel)]="qa.comments" rows="2"></textarea>
        </div>
        <div class="col col-md-3 text-center">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="flagged">Flagged for review</label>
              <div class="btn-group btn-group-toggle" ngbRadioGroup name="flagged" [(ngModel)]="qa.flagged">
                <label ngbButtonLabel class="btn-secondary">
                  <input ngbButton type="radio" [value]="1"><i class="fas fa-user-injured"></i> Yes
                </label>
                <label ngbButtonLabel class="btn-secondary">
                  <input ngbButton type="radio" [value]="0"><i class="fas fa-user-md"></i> No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-2 form-group text-center">
          <label>&nbsp;</label>
          <button type="submit" class="btn btn-success btn-lg" (click)="sendQA()" id="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
