<form autocomplete="off" novalidate>
    <div class="container">
      <h4>Call information</h4>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="date">Call date</label>
          <input type="date" class="form-control" [(ngModel)]="qa.date" name="qaDate" id="date">
        </div>
        <div class="form-group col-md-2">
          <label for="prid">PRID</label>
          <input type="text" class="form-control" [(ngModel)]="qa.prid" name="qaPrid" id="prid" placeholder="PRID" data-validation="length" data-validation-length="8" data-validation-error-msg="PRID must be exactly 8 numbers long.">
        </div>
        <div class="form-group col-md-4">
          <label for="presenting_problem">Presenting problem</label>
          <input type="text" name="presenting_problem" [(ngModel)]="qa.problem" name="qaProblem" class="form-control" id="presenting_problem" placeholder="Presenting problem" data-validation="required">
        </div>
        <div class="form-group col-md-3 text-center">
          <label>&nbsp;</label>
          <div class="btn-group btn-group-toggle" name="determinant"  id="determinants">
            <label class="btn btn-secondary" [ngClass]="{'active': isActive-A}">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantA" (click)="activateButton($event)" value="A" autocomplete="off" required> A
            </label>
            <label class="btn btn-secondary">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantB" [ngClass]="{'active': isActive}" (click)="activateButton()" value="B" autocomplete="off"> B
            </label>
            <label class="btn btn-secondary">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantC" [ngClass]="{'active': isActive}" (click)="activateButton()" value="C" autocomplete="off"> C
            </label>
            <label class="btn btn-secondary">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantD" [ngClass]="{'active': isActive}" (click)="activateButton()" value="D" autocomplete="off"> D
            </label>
            <label class="btn btn-secondary">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantE" [ngClass]="{'active': isActive}" (click)="activateButton()" value="E" autocomplete="off"> E
            </label>
            <label class="btn btn-secondary">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantFI" [ngClass]="{'active': isActive}" (click)="activateButton()" value="FI" autocomplete="off"> F/I
            </label>
            <label class="btn btn-secondary">
              <input type="radio" [(ngModel)]="qa.determinant" name="determinant" id="determinantS" [ngClass]="{'active': isActive}" (click)="activateButton()" value="S" autocomplete="off"> S
            </label>
          </div>
        </div>
      </div>
      <hr>
      <h4>Personnel</h4>
      <div class="row">
        <div class="form-group col-md-3">
          <label for="tic">Tech-in-charge</label>
          <select class="form-control tic" [(ngModel)]="qa.tic" name="tic" id="tic" placeholder="Tech-in-charge" data-validation="required">
            <option></option>
            <option value="987">Dan Bruce</option>
            <option value="923">John Jacangelo</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="900number">900 number</label>
          <select class="form-control 900number" [(ngModel)]="qa.ticnine" name="tic900" id="900number" placeholder="900 number" data-validation="required">
            <option></option>
            <option value="Dan Bruce">987</option>
            <option value="John Jacangelo">923</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="preceptor">Preceptor</label>
          <select class="form-control preceptor" [(ngModel)]="qa.preceptor" name="preceptor" id="preceptor" placeholder="Preceptor">
            <option></option>
            <option value="987">Dan Bruce</option>
            <option value="923">John Jacangelo</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="preceptor900number">900 number</label>
          <select class="form-control preceptor900number" [(ngModel)]="qa.precnine" name="preceptor900number" id="preceptor900number" placeholder="900 number">
            <option></option>
            <option value="Dan Bruce">987</option>
            <option value="John Jacangelo">923</option>
          </select>
        </div>
        <div class="col-md-2 no-preceptor text-center">
          <label>&nbsp;</label>
          <input type="check" [(ngModel)]="qa.noPrec" name="qaNoPrec" class="btn btn-secondary" id="no_preceptor" disabled>No preceptor
        </div>
      </div>
      <hr>
      <h4>Affirmative questions</h4>
      <div class="row affirmative">
        <div class="col-md-12">
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              1.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Was the dispatch to en route time less than six (6) minutes and dispatch to on-scene time less than 10 minutes?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn1" [value]="yes" name="q1y" id="Y1" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn1" [value]="no" name="q1n" id="N1" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              2.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Was the chief complaint explicitly recorded?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn2" [value]="yes" name="q2y" id="Y2" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn2" [value]="no" name="q2n" id="N2" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              3.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">If EtOH+, EDP, or AMS patient, was glucometry performed?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn3" [value]="yes" name="q3y" id="Y3" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn3" [value]="no" name="q3n" id="N3" autocomplete="off"> N
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn3" [value]="na" name="q3na" id="NA3" autocomplete="off"> N/A
                </label>
              </div>
            </div>
          </div>
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              4.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Was the disposition appropriate?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn4" [value]="yes" name="q4y" id="Y4" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn4" [value]="no" name="q4n" id="N4" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>Negative questions</h4>
      <div class="row negative">
        <div class="col-md-12">
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              5.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Were there any exposures?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input  type="radio" [(ngModel)]="qa.yn5" [value]="yes" name="q5y" id="Y5" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn5" [value]="no" name="q5n" id="N5" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              6.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Was a REMO MD contacted?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn6" [value]="yes" name="q6y" id="Y6" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn6" [value]="no" name="q6n" id="N6" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>REMO specialty QI</h4>
      <div class="row remo-specialty">
        <div class="col-md-12">
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              7.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Was naloxone, albuterol, or epinephrine	administered?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn7" [value]="yes" name="q7y" id="Y7" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn7" [value]="no" name="q7n" id="N7" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
          <div class="row question">
            <div class="question-number offset-sm-1 col-sm-1 col-1">
              8.
            </div>
            <div class="col-sm-6 col-7 question-text">
              <div class="form-check form-check-inline">
                <label class="form-check-label">Was a patella reduction performed or public defibrillation used?</label>
              </div>
            </div>
            <div class="col-sm-2 col-4 question-answer">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn8" [value]="yes" name="q8y" id="Y8" autocomplete="off"> Y
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" [(ngModel)]="qa.yn8" [value]="no" name="q8n" id="N8" autocomplete="off"> N
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h4>Review</h4>
      <div class="row review">
        <div class="col-md-7 form-group">
          <label for="comments">Comments</label>
          <textarea class="form-control" id="comments" rows="2"></textarea>
        </div>
        <div class="col col-md-3 text-center">
          <div class="row">
            <div class="col-sm-12 form-group">
              <label for="flagged">Flagged for review</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary btn-lg">
                  <input type="radio" [(ngModel)]="qa.flagged" [value]="yes" name="flaggedy" id="flagged" autocomplete="off"> Yes
                </label>
                <label class="btn btn-secondary btn-lg">
                  <input type="radio" [(ngModel)]="qa.flagged" [value]="no" name="flaggedn" id="flagged" autocomplete="off"> No
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-2 form-group text-center">
          <label>&nbsp;</label>
          <button type="submit" class="btn btn-success btn-lg" (click)="sendQA()" id="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>
