$rpia-red: rgb(209,55,50);

.head {
  text-align: center;

  img {
    max-height: 100px;
    display: inline-block;
  }

  h2 {
    font-weight: 200;
    display: inline;
    margin-left: 30px;
    white-space: nowrap;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-left: 0;
    }

    strong {
      font-weight: 700;
    }
  }
}

.masthead {
  padding: 10px;
  margin-bottom: 15px;
  background-color: $rpia-red;
  color: white;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.nav {
  margin-bottom: 45px;
}

.question {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  background-color: #2188ef;
  border-color: #3670a2;
}

label {
  display: block;
}

.question-number {
  font-size: 18px;
  text-align: right;
}

.question-text {
  @media (max-width: 768px) {
    margin-left: -10px;
  }
}

.no-preceptor label {
  @media (max-width: 768px) {
    display: none;
  }
}

.form-error {
  font-size: 12px;
  @media (min-width: 768px) {
    text-align: left;
  }
}

footer .row {
  background-color: $rpia-red;
  color: white;
  margin-top: 30px;
}


//Select2 styles follow...
.select2-container .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single {

  display: block;


  .select2-selection__arrow {
    height: 36px;
  }

  .select2-selection__rendered {
    line-height: 38px;
  }
}
