
    <div class="container">
      <div class="col-md-12">
        <h4>Active QAs</h4>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">QA ID</th>
              <th scope="col">PRID</th>
              <th scope="col">Tech in Charge</th>
              <th scope="col">Date</th>
              <th scope="col">Chief Complaint</th>
              <th scope="col">QA Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">533109</th>
              <td>117675</td>
              <td>Dan Brue</td>
              <td>09/06/2018</td>
              <td>Headache</td>
              <td class="bg-success">Pass</td>
            </tr>
            <tr>
              <th scope="row">151310</th>
              <td>816076</td>
              <td>Joe Whacker</td>
              <td>10/11/2018</td>
              <td>ETOH+</td>
              <td class="bg-danger">Flagged</td>
            </tr>
            <tr>
              <th scope="row">314410</th>
              <td>392034</td>
              <td>Ricky Rescue</td>
              <td>05/23/2018</td>
              <td>Panic Attack</td>
              <td class="bg-success">Pass</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
