<div class="head">
  <div class="container-fluid masthead">
  <div class="row">
    <div class="col-md-12 head">
      <img src="assets/img/patch.svg" alt="">
      <h2><strong>Aqua</strong> | The <strong>A</strong>mbulance <strong>Qu</strong>ality <strong>A</strong>ssurance System</h2>
    </div>
  </div>
</div>
<div class="container">
  <nav class="nav nav-fill nav-pills">
    <a class="nav-item nav-link" routerLink="/Home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/NewQA" routerLinkActive="active">New QA</a>
    <a class="nav-item nav-link" routerLink="/Settings" routerLinkActive="active">Settings</a>
  </nav>
</div>
</div>
